.thx_list li:before {
    width: 0px !important
}

.thx_list {
    list-style-type: decimal;
    color: black;
    font-weight: bold
}

.thx_list li {
    padding-left: 0px;
    margin-left: 25px !important
}

.thx_list li span {
    color: gray;
    font-size: 16px !important;
    display: block;
    font-weight: normal
}

#order_form {
    background: white;
    padding: 20px;
    max-width: 600px;
    font-family: Arial;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover
}

#order_form div {
    background: transparent !important
}

#order_form h2 {
    margin: 25px 0 0 0;
    padding: 0px;
    line-height: 32px;
    border: none
}

#order_form label {
    width: 230px;
    display: block;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 16px
}

#order_form label.vertical {
    border: none !important
}

.device_info {
    font-size: 14px;
    color: green;
    display: block;
    margin: 10px 20px
}

#order_form .order_form_pole {
    padding: 10px;
    margin: 10px
}

#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
    background: white
}

#order_form select {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
    background: white
}

#order_form span {
    font-size: 12px
}

#order_form button,
.obutton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px
}

#order_form button:hover,
.obutton:hover {
    background-color: #017ACC
}

#order_form button:active {
    position: relative;
    top: 1px
}

.order_info h2 {
    border: none !important;
    color: red !important
}

.left_count {
    background: red;
    padding: 23px;
    margin: 12px 0px;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 32px !important;
    border-radius: 5px
}

.left_count .prod_left_val {
    font-size: 52px !important
}

#order_form_success {
    position: relative
}

@media screen and (max-width:480px) {
    #order_form input {}

    #order_form label {
        font-size: 14px
    }

    #order_form button {
        font-size: 16px
    }

    #order_form {
        padding: 10px
    }

    #order_form .order_form_pole {
        padding: 0px;
        margin: 2px
    }
}

@media screen and (max-width:459px) {
    #order_form input {
        width: 80%
    }

    #order_form {
        margin-left: -20px;
        margin-right: -20px
    }
}

@media screen and (max-width:349px) {
    #order_form input {
        font-size: 17px
    }

    #order_form button {
        margin-left: 0px
    }
}

@media screen and (max-width:620px) {
    #order_form {
        margin-left: -20px;
        margin-right: -20px
    }
}